/*
|--------------------------------------------------------------------------
| Font Families
|--------------------------------------------------------------------------
*/

$font_condensed: "Tungsten Medium";
$font_sans: Helvetica, Arial sans-serif; // Example


/*
|--------------------------------------------------------------------------
| Colours
|--------------------------------------------------------------------------
*/

// $grey: #2d2d2f;
// $red: #ff5b5b;
// $blue: #4183c4;


/*
|--------------------------------------------------------------------------
| Media query shortcuts
|--------------------------------------------------------------------------
*/

$fixed_size: false !default;

@mixin respond_min($width)
{
    @if $fixed_size
    {
        @if $fixed_size >= $width
        {
            @content;
        }
    }
    @else
    {
        @media screen and (min-width: $width)
        {
            @content;
        }
    }
}

@mixin respond_max($width)
{
    @if $fixed_size
    {
        @if $fixed_size <= $width
        {
            @content;
        }
    }
    @else
    {
        @media screen and (max-width: $width)
        {
            @content;
        }
    }
}

@mixin respond_min_max($min, $max)
{
    @if $fixed_size
    {
        @if $fixed_size >= $min
        {
            @if $fixed_size <= $max
            {
                @content;
            }
        }
    }
    @else
    {
        @media (min-width: $min) and (max-width: $max)
        {
            @content;
        }
    }
}