/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
    color: lighten(#52af8a, 10%);
    text-shadow: 0 1px lighten(#cbeec9, 3%);
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;

    font-size: 16px;
    line-height: 140%;
}

/* Code blocks */
pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background: lighten(#cbeec9, 5%);
    border-radius: 2px;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
}

.language-php
{
    .string
    {
        color: #690;
    }


    .this,
    .keyword
    {
        color: #07a;
    }

    .comment
    {
        color: #9aaca5;
    }

    .property,
    .function,
    .class-name,
    .variable,
    .punctuation
    {
        color: #007e74;
    }

    .php
    {
        .keyword,
        .string,
        .punctuation
        {
            color: #690;
        }

        .function,
        .property,
        .this,
        .variable,
        .operator
        {
            color: #07a;
        }
    }

    .markup
    {
        .token
        {
            color: lighten(#52af8a, 10%) !important;

            .php
            {
                .keyword,
                .string,
                .punctuation
                {
                    color: #690 !important;
                }

                .function,
                .property,
                .this,
                .variable,
                .operator
                {
                    color: #07a !important;
                }
            }

        }
    }
}

.language-javascript
{
    .punctuation
    {
        color: #007e74;
    }

    .string
    {
        color: #690;
    }
}