build
/vendor
/doc/public
/doc/data/versions.json
/doc/.hugo_build.lock
.generated
.phpunit.result.cache
.phpunit.cache
composer.phar

# JetBrains IDEA files
.idea/.gitignore
.idea/modules.xml
.idea/php-test-framework.xml
.idea/php.xml
.idea/phpunit.xml
.idea/plates.iml
.idea/vcs.xml
