<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <title>Layouts | Plates</title>
    
    
        <meta name="description" content="Plates is a Twig inspired, native PHP template system that brings modern template language functionality to native PHP templates.">
    
    
        <link rel="icon" type="image/x-icon" href="/favicon/favicon.ico" />
    
    
        <link rel="apple-touch-icon-precomposed" href="/favicon/apple-touch-icon-precomposed.png">
    
    <link rel="stylesheet" href="https://theme.thephpleague.com/css/all.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
</head>
<body>

<a href="https://github.com/thephpleague/plates" class="github">
    <img src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png">
</a>

<section class="all_packages">
    <a href="https://thephpleague.com/">
        <img src="https://theme.thephpleague.com/img/loep_logo.png" width="195" height="200" alt="The League of Extraordinary Packages">
    </a>
    <h2>Our Packages:</h2>
    <ul>
        
    </ul>
</section>

<header>
    <a class="logo" href="/">
        
            <span class="icon">
                <img src="/images/logo.png" width="50" height="40" alt="Plates - Native PHP Templates">
            </span>
        
        <span class="name">Plates</span>
        <span class="tagline">Native PHP Templates</span>
    </a>
    <a href="https://thephpleague.com/" class="league">
        Presented by The League of Extraordinary Packages
    </a>
</header>

<input type="checkbox" id="menu">
<label for="menu" onclick>
    <div class="closed">&#9776; Menu</div>
    <div class="open">&#9776; Hide Menu</div>
</label>

<main>
    <menu>
        
        
            <h2>Getting Started</h2>
            <ul>
                
                <li class="">
                    <a href="/">Introduction</a>
                </li>
                
                <li class="">
                    <a href="/getting-started/simple-example/">Simple Example</a>
                </li>
                
                <li class="">
                    <a href="/getting-started/installation/">Installation</a>
                </li>
                
            </ul>
        
            <h2>The Engine</h2>
            <ul>
                
                <li class="">
                    <a href="/engine/overview/">Overview</a>
                </li>
                
                <li class="">
                    <a href="/engine/file-extensions/">File Extensions</a>
                </li>
                
                <li class="">
                    <a href="/engine/folders/">Folders</a>
                </li>
                
                <li class="">
                    <a href="/engine/functions/">Functions</a>
                </li>
                
                <li class="">
                    <a href="/engine/extensions/">Extensions</a>
                </li>
                
            </ul>
        
            <h2>Templates</h2>
            <ul>
                
                <li class="">
                    <a href="/templates/overview/">Overview</a>
                </li>
                
                <li class="">
                    <a href="/templates/data/">Data</a>
                </li>
                
                <li class="">
                    <a href="/templates/functions/">Functions</a>
                </li>
                
                <li class="">
                    <a href="/templates/nesting/">Nesting</a>
                </li>
                
                <li class="selected">
                    <a href="/templates/layouts/">Layouts</a>
                </li>
                
                <li class="">
                    <a href="/templates/sections/">Sections</a>
                </li>
                
                <li class="">
                    <a href="/templates/inheritance/">Inheritance</a>
                </li>
                
                <li class="">
                    <a href="/templates/escaping/">Escaping</a>
                </li>
                
                <li class="">
                    <a href="/templates/syntax/">Syntax</a>
                </li>
                
            </ul>
        
            <h2>Extensions</h2>
            <ul>
                
                <li class="">
                    <a href="/extensions/asset/">Asset</a>
                </li>
                
                <li class="">
                    <a href="/extensions/uri/">URI</a>
                </li>
                
                <li class="">
                    <a href="/extensions/community/">Community</a>
                </li>
                
            </ul>
        
    </menu>
    <article>
        
  <h1>Layouts</h1>
  <p>The <code>layout()</code> function allows you to define a layout template that a template will implement. It&rsquo;s like having separate header and footer templates in one file.</p>
<h2 id="define-a-layout">Define a layout</h2>
<p>The <code>layout()</code> function can be called anywhere in a template, since the layout template is actually rendered second. Typically it&rsquo;s placed at the top of the file.</p>
<div class="highlight"><pre class="chroma"><code class="language-php" data-lang="php"><span class="o">&lt;?</span><span class="nx">php</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">layout</span><span class="p">(</span><span class="s1">&#39;template&#39;</span><span class="p">)</span> <span class="cp">?&gt;</span><span class="err">
</span><span class="err">
</span><span class="err">&lt;h1&gt;User Profile&lt;/h1&gt;
</span><span class="err">&lt;p&gt;Hello, &lt;?=$this-&gt;e($name)?&gt;&lt;/p&gt;
</span></code></pre></div><p>This function also works with <a href="/engine/folders/">folders</a>:</p>
<div class="highlight"><pre class="chroma"><code class="language-php" data-lang="php"><span class="o">&lt;?</span><span class="nx">php</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">layout</span><span class="p">(</span><span class="s1">&#39;shared::template&#39;</span><span class="p">)</span> <span class="cp">?&gt;</span><span class="err">
</span></code></pre></div><h2 id="assign-data">Assign data</h2>
<p>To assign data (variables) to a layout template, pass them as an array to the <code>layout()</code> function. This data will then be available as locally scoped variables within the layout template.</p>
<div class="highlight"><pre class="chroma"><code class="language-php" data-lang="php"><span class="o">&lt;?</span><span class="nx">php</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">layout</span><span class="p">(</span><span class="s1">&#39;template&#39;</span><span class="p">,</span> <span class="p">[</span><span class="s1">&#39;title&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;User Profile&#39;</span><span class="p">])</span> <span class="cp">?&gt;</span><span class="err">
</span></code></pre></div><h2 id="accessing-the-content">Accessing the content</h2>
<p>To access the rendered template content within the layout, use the <code>section()</code> function, passing <code>'content'</code> as the section name. This will return all outputted content from the template that hasn&rsquo;t been defined in a <a href="/templates/sections/">section</a>.</p>
<div class="highlight"><pre class="chroma"><code class="language-php" data-lang="php"><span class="o">&lt;</span><span class="nx">html</span><span class="o">&gt;</span>
<span class="o">&lt;</span><span class="nx">head</span><span class="o">&gt;</span>
    <span class="o">&lt;</span><span class="nx">title</span><span class="o">&gt;&lt;?=</span><span class="nv">$this</span><span class="o">-&gt;</span><span class="na">e</span><span class="p">(</span><span class="nv">$title</span><span class="p">)</span><span class="cp">?&gt;</span><span class="err">&lt;/title&gt;
</span><span class="err">&lt;/head&gt;
</span><span class="err">&lt;body&gt;
</span><span class="err">
</span><span class="err">&lt;?=$this-&gt;section(&#39;content&#39;)?&gt;
</span><span class="err">
</span><span class="err">&lt;/body&gt;
</span><span class="err">&lt;/html&gt;
</span></code></pre></div><h2 id="stacked-layouts">Stacked layouts</h2>
<p>Plates allows stacking of layouts, allowing even further simplification and organization of templates. Instead of just using one main layout, it&rsquo;s possible to break templates into more specific layouts, which themselves implement a main layout. Consider this example:</p>
<h3 id="the-main-site-layout">The main site layout</h3>
<!-- raw HTML omitted -->
<!-- raw HTML omitted -->
<!-- raw HTML omitted -->
<h3 id="the-blog-layout">The blog layout</h3>
<!-- raw HTML omitted -->
<!-- raw HTML omitted -->
<!-- raw HTML omitted -->
<h3 id="a-blog-article">A blog article</h3>
<!-- raw HTML omitted -->
<!-- raw HTML omitted -->


    </article>
</main>

<footer>
    <span>&copy; Copyright <a href="https://thephpleague.com">The League of Extraordinary Packages</a>.</span>
    <span>Site design by <a href="https://reinink.ca">Jonathan Reinink</a>.</span>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://theme.thephpleague.com/js/scripts.js"></script>
<script src="https://theme.thephpleague.com/js/prism.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script>
$('select.select2').select2().on('change', function(e) {
    var pathParts = window.location.pathname.split("/");
    pathParts[1] = e.currentTarget.value;
    window.location.href = pathParts.join("/");
});
</script>


    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-46050814-2');ga('send','pageview');
    </script>


</body>
</html>