.github {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    z-index: 1000;
}

@media screen and (max-width: 1065px) {
    .github {
        display: none;
    }
}

*:focus {
    outline: none;
}
.select2-container {
    font-family: "Museo 300";
}
.version-select {
    margin: 8px 25px 0px 45px;
}
