<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <title>Templates | Plates</title>
    
    
        <meta name="description" content="Plates is a Twig inspired, native PHP template system that brings modern template language functionality to native PHP templates.">
    
    
        <link rel="icon" type="image/x-icon" href="/favicon/favicon.ico" />
    
    
        <link rel="apple-touch-icon-precomposed" href="/favicon/apple-touch-icon-precomposed.png">
    
    <link rel="stylesheet" href="https://theme.thephpleague.com/css/all.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
</head>
<body>

<a href="https://github.com/thephpleague/plates" class="github">
    <img src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png">
</a>

<section class="all_packages">
    <a href="https://thephpleague.com/">
        <img src="https://theme.thephpleague.com/img/loep_logo.png" width="195" height="200" alt="The League of Extraordinary Packages">
    </a>
    <h2>Our Packages:</h2>
    <ul>
        
    </ul>
</section>

<header>
    <a class="logo" href="/">
        
            <span class="icon">
                <img src="/images/logo.png" width="50" height="40" alt="Plates - Native PHP Templates">
            </span>
        
        <span class="name">Plates</span>
        <span class="tagline">Native PHP Templates</span>
    </a>
    <a href="https://thephpleague.com/" class="league">
        Presented by The League of Extraordinary Packages
    </a>
</header>

<input type="checkbox" id="menu">
<label for="menu" onclick>
    <div class="closed">&#9776; Menu</div>
    <div class="open">&#9776; Hide Menu</div>
</label>

<main>
    <menu>
        
        
            <h2>Getting Started</h2>
            <ul>
                
                <li class="">
                    <a href="/">Introduction</a>
                </li>
                
                <li class="">
                    <a href="/getting-started/simple-example/">Simple Example</a>
                </li>
                
                <li class="">
                    <a href="/getting-started/installation/">Installation</a>
                </li>
                
            </ul>
        
            <h2>The Engine</h2>
            <ul>
                
                <li class="">
                    <a href="/engine/overview/">Overview</a>
                </li>
                
                <li class="">
                    <a href="/engine/file-extensions/">File Extensions</a>
                </li>
                
                <li class="">
                    <a href="/engine/folders/">Folders</a>
                </li>
                
                <li class="">
                    <a href="/engine/functions/">Functions</a>
                </li>
                
                <li class="">
                    <a href="/engine/extensions/">Extensions</a>
                </li>
                
            </ul>
        
            <h2>Templates</h2>
            <ul>
                
                <li class="">
                    <a href="/templates/overview/">Overview</a>
                </li>
                
                <li class="">
                    <a href="/templates/data/">Data</a>
                </li>
                
                <li class="">
                    <a href="/templates/functions/">Functions</a>
                </li>
                
                <li class="">
                    <a href="/templates/nesting/">Nesting</a>
                </li>
                
                <li class="">
                    <a href="/templates/layouts/">Layouts</a>
                </li>
                
                <li class="">
                    <a href="/templates/sections/">Sections</a>
                </li>
                
                <li class="">
                    <a href="/templates/inheritance/">Inheritance</a>
                </li>
                
                <li class="">
                    <a href="/templates/escaping/">Escaping</a>
                </li>
                
                <li class="">
                    <a href="/templates/syntax/">Syntax</a>
                </li>
                
            </ul>
        
            <h2>Extensions</h2>
            <ul>
                
                <li class="">
                    <a href="/extensions/asset/">Asset</a>
                </li>
                
                <li class="">
                    <a href="/extensions/uri/">URI</a>
                </li>
                
                <li class="">
                    <a href="/extensions/community/">Community</a>
                </li>
                
            </ul>
        
    </menu>
    <article>
        
  <h1>Templates</h1>
  

    </article>
</main>

<footer>
    <span>&copy; Copyright <a href="https://thephpleague.com">The League of Extraordinary Packages</a>.</span>
    <span>Site design by <a href="https://reinink.ca">Jonathan Reinink</a>.</span>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://theme.thephpleague.com/js/scripts.js"></script>
<script src="https://theme.thephpleague.com/js/prism.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script>
$('select.select2').select2().on('change', function(e) {
    var pathParts = window.location.pathname.split("/");
    pathParts[1] = e.currentTarget.value;
    window.location.href = pathParts.join("/");
});
</script>


    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-46050814-2');ga('send','pageview');
    </script>


</body>
</html>